<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Applications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/applicationsStyle.css">

</head>
<tbody>
    <%- include ('partials/navbar')%>

    <div class = "container">
        <% let priorities = ["Lowest", "Medium", "Highest"]; %>
        <% let submitted = ["Unsubmitted", "Submitted"]; %>

        <div class = "section" id = "list">
            <h3>Your Applications:</h3>
            <table>
                <thead>
                    <tr>
                        <th>Priority</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Due Date</th>
                        <th>Final Status</th>
                        <td></td>
                    </tr>
                </thead>

                

                <tbody>
                    <% for (let i = 0; i < results.length; i++) { %> 
                    <tr>
                        <td><%= priorities[results[i].priority] %></td>
                        <td><%= results[i].applicationName %></td>
                        <td><%= results[i].categoryName %></td>
                        <td><%= results[i].dueDateFormatted %></td>
                        <td><%= submitted[results[i].status] %></td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href=<%= "/applications/" + results[i].applicationId %> >
                                <i class="material-icons right">edit</i>Info/Edit</a>
                            <a class="btn-small waves-effect waves-light red" onclick="M.toast({html: 'Application deleted!'})" href="/applications/<%= results[i].applicationId %>/delete">
                                <i class="material-icons right">delete</i>Delete</a>
                        </td>    
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="section" id="addApplication">
            <h5>Add an application:</h5>
            <form id="addForm" method="post" action="/applications">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="applicationName" id="appNameInput" class="validate" data-length="32" placeholder = "Application Title:" required>
                        <label for="appNameInput">Title:</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="categoryId" name="categoryId" required>
                            <option value="" disabled selected>Choose your category</option>
                            <% for (let i = 0; i < categories.length; i++) { %>
                                <option value=<%=categories[i].categoryId%> ><%= categories[i].categoryName %></option>
                            <% } %>
                        </select>
                        <label for="categoryInput">Category:</label>
                    </div>
                    
                </div>    
                
                <div class="row">
                    <div class="input-field col s6">
                        <label for="notesInput">Notes</label>
                        <input type="text" name="notes" id="notesInput" placeholder="Enter your notes here" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        Due Date:
                        <div class="input-field inline">
                            <input type="date" name="dueDate" id="dateInput" class="validate" data-length="32">
                        </div>
                    </div>
                    <div class="input-field col s6">
                        <select id="priorityInput" name="priority" required>
                            <option value="" disabled selected>Choose your priority</option>
                            <option value="0" >Lowest</option>
                            <option value="1" >Medium</option>
                            <option value="2" >Highest</option>
                            
                        </select>
                        <label for="categoryInput">Priority:</label>
                    </div>  
                </div>
                <button class="btn waves-effect waves-light" type="submit" onclick="M.toast({html: 'Task added!'})">
                    <i class="material-icons right">done</i>
                    Submit
                </button>
            </form>
        </div>
        

    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/scripts/materializeAutoInit.js"></script>

</tbody>
</html>