<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Applications</title>
    
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
    
    </head>
<tbody>
    <%- include ('partials/navbar')%>

    <!--
        appplicationId, applicationName,
    categoryName, applications.categoryId as categoryId,
    priorityName, applications.priorityId as priorityId,
    essaySubmitted, recRequest, transcriptRequest,
    DATE_FORMAT(dueDate, "%m/%d/%y (%W)") AS dueDateClean,
    DATE_FORMAT(dueDate, "%Y-%m-%d") AS dueDateForms,
    notes, status
    -->

    <div class = "container">
        <div class="section flow-text col s6" id="header">
            <h1><%= inventory.applicationName %></h1>
            <form id="updateForm" method="post" action="/applications/<%=inventory.applicationId%>">
                <div class="row">
                    
                    <div class="input-field col s8">
                        <input type="text" id="titleInput" name="title" class="validate" data-length="32" required value="<%= inventory.applicationName %>">
                        <label for="titleInput">Application title:</label>
                    </div>

                    <div class="input-field col s4">
                        <select id="categoryInput" name="category" required>
                            <option value="" disabled>Choose your category</option>
                            <% for (let i = 0; i < categories.length; i++) { %>
                                <%if (inventory.categoryId != categories[i].categoryId){%>
                                    <option value = <%= categories[i].categoryId %>><%= categories[i].categoryName %> </option>
                                <%} else {%>
                                    <option selected value= <%=categories[i].categoryId%> ><%= categories[i].categoryName%></option>
                                <%}%>
                            <% } %> 
                        </select>
                        <label for="categoryInput">Category:</label>
                    </div>
                </div>

                <div class = "row">
                    <div class="input-field col s8">
                        <% let priorities = ["Lowest", "Medium", "Highest"]; %>
                        
                        <select id="priorityInput" name="priority" required>
                            <option value="">Choose your priority</option>
                            <% for (let i = 0; i < 3; i++) { %>
                                <% if (inventory.priority == i){%>
                                    <option selected value = <%= i %>><%= priorities[i] %> </option>
                                <% } else {%>
                                    <option value = <%= i %>><%= priorities[i] %> </option>
                                <% } %>
                            <% } %>
                        </select>
                        <label for="priorityInput">Priority:</label>
                    </div>

                    <div class = "input-field col s4">
                        <select id = "statusInput" name="status" required>
                            <% if (inventory.status == 0) {%>
                                <option selected value="0">Unsubmitted</option>
                                <option value="1">Submitted</option>
                            <%} else { %>      
                                <option value="0">Unsubmitted</option>                      
                                <option selected value="1">Submitted</option>
                            <% } %>
                        </select>
                        <label for="statusInput">Status:</label>
                    </div>

                    
                </div>
                <div class = "row">

                    <div class="input-field col s8">
                        <textarea class="materialize-textarea" id="descriptionInput" name="notes"><%= inventory.notes%></textarea>
                        <label for="descriptionInput">Notes:</label>
                    </div>
                    <div class="input-field col s4">
                        <input type="date" id="dueDateInput" name="dueDate" value=<%=inventory.dueDateForms%>>  <!-- Note that the date value format is "yyyy-mm-dd" -->
                        <label for="dueDateInput">Due Date:</label>
                    </div>

                </div>
                <div class = "row">
                    
                    <% let requests = ["Need to Request", "Requested", "Recieved"]; %>
                    <div class = "input-field col s4">
                        <select id = "recommendationsInput" name="recommendations" required>
                            <% for (let i = 0; i < 3; i++) { %>
                                <% if (inventory.recRequest == i){%>
                                    <option selected value = <%= i %>><%= requests[i] %> </option>
                                <% } else {%>
                                    <option value = <%= i %>><%= requests[i] %> </option>
                                <% } %>
                            <% } %>
                        </select>
                        <label for="recommendationsInput">Recommendations:</label>
                    </div>
                    
                    <div class = "input-field col s4">
                        <select id = "transcriptInput" name="transcript" required>
                            <% for (let i = 0; i < 3; i++) { %>
                                <% if (inventory.transcriptRequest == i){%>
                                    <option selected value = <%= i %>><%= requests[i] %> </option>
                                <% } else {%>
                                    <option value = <%= i %>><%= requests[i] %> </option>
                                <% } %>
                            <% } %>
                        </select>
                        <label for="transcriptInput">Transcript:</label>
                    </div>
                    <% let essayStatus = ["Unstarted", "In Progress", "Submitted"] %>
                    <div class = "input-field col s4">
                        <select id = "essayInput" name="essay" required>
                            <% for (let i = 0; i < 3; i++) { %>
                                <% if (inventory.essaySubmitted == i){%>
                                    <option selected value = <%= i %>><%= essayStatus[i] %> </option>
                                <% } else {%>
                                    <option value = <%= i %>><%= essayStatus[i] %> </option>
                                <% } %>
                            <% } %>
                        </select>
                        <label for="essayInput">Essay:</label>
                    </div>
                    

                </div>
            </form>
         </div>

        <div class="section" id="controls">
            <button class="btn waves-effect waves-light " type="submit" form="updateForm">
                <i class="material-icons right">send</i>
                Submit
            </button>
            <a class="btn-large waves-effect waves-green btn-flat" href = "/applications/<%= inventory.applicationId%>">Never Mind</a>
            <a class="btn-large waves-effect waves-light red right" href="/applications/delete/<%= inventory.applicationId%>">
                <i class="material-icons right">delete</i>
                Delete
            </a>
        </div>

        
        
    </div>
    

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- initialize Materialize elements -->
<script> M.AutoInit();</script>

<script src="/scripts/materializeAutoinit.js"></script>
</tbody>
</html>
