<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/stylesheets/applicationsStyle.css">

</head>
<tbody>
    <%- include ('partials/navbar')%>   

    <div class = "container">
        <% let recs = ["Need to request", "Requested", "Received"]; %>
        <% let transcripts = ["Need to request", "Requested", "Received"]; %>
        <% let essays = ["Unstarted", "Started", "Submitted"]; %>

        <h3>Application Search:</h3>
        <div class="divider"></div>
        
        <form id="updateForm" method="post">
            <div class = row>
                
                <div class="input-field col s3">
                    <% 
                    let priorities = ["Any Priority", "Lowest", "Medium", "Highest"]; 
                    let prioritiesId = [-1, 0, 1, 2];
                    %>
                    
                    <select id="priorityInput" name="priority" required>
                            <% for (let i = 0; i < priorities.length; i++) { %>
                                <% if (prioritiesId[i] == preferences.priorityType){%>
                                    <option selected value = <%= prioritiesId[i] %>><%= priorities[i] %> </option>
                                <% } else {%>
                                    <option value = <%= prioritiesId[i] %>><%= priorities[i] %> </option>
                                <% } %>
                            <% } %>
                    </select>
                    <label for="priorityInput">Priority:</label>

                </div>  
                <div class="input-field col s3">
                    <%
                    let dates = ["Past Applications", "Future Applications"];
                    %>
                    <select id="dateInput" name="date" required>
                        <% for (let i = 0; i < dates.length; i++){ %>
                            <% if (i == preferences.dateType){%>
                                <option selected value = <%= i %>><%= dates[i] %> </option>
                            <% } else {%>
                                <option value = <%= i %>><%= dates[i] %> </option>
                            <% } %>
                        <% } %>
                    </select>
                    <label for="dateInput">Date Due:</label>
                </div>
                <div class="input-field col s3">
                    <%
                    let statuses = ["Unsubmitted", "Submitted"];
                    %>
                    <select id="statusInput" name="status" required>
                        <% for (let i = 0; i < statuses.length; i++){ %>
                            <% if (i == preferences.statusType){%>
                                <option selected value = <%= i %>><%= statuses[i] %> </option>
                            <% } else {%>
                                <option value = <%= i %>><%= statuses[i] %> </option>
                            <% } %>
                        <% } %>
                    </select>
                    <label for="statusInput">Status:</label>
                </div>
                <button class="btn-large waves-effect waves-light " type="submit" form="updateForm">
                    <i class="material-icons right">send</i>
                    Update Filters
                </button>
                
            </div>
        </form>

        
        <div class="section flow-text" id="header">
            <h3>Your Applications:</h3>
            
            <table class="responsive-table">
                <% for (let i = 0; i < inventory.length; i++) { %> 
                    <h1><%= inventory[i].applicationName %></h1>
                    <tr>
                        <th><h5><strong><u>Priority:</strong></u></h5></th>
                        <td><h5><%= priorities[inventory[i].priority] %></h5></td>
                    </tr>
                    <tr>
                        <th><h5><strong><u>Category:</strong></u></h5></th>
                        <td><h5><%= inventory[i].categoryName %></h5></td>
                    </tr>
                    <tr>
                        <th><h5><strong><u>Recommendations:</strong></u></h5></th>
                        <td><h5><%= recs[inventory[i].recRequest] %></h5></td>
                    </tr>
                    <tr>
                        <th><h5><strong><u>Transcripts:</strong></u></h5></th>
                        <td><h5><%= transcripts[inventory[i].transcriptRequest] %></h5></td>
                    </tr>
                    <tr>
                        <th><h5><strong><u>Essays:</strong></u></h5></th>
                        <td><h5><%= essays[inventory[i].essaySubmitted] %></h5></td>
                    </tr>      
                    <tr>
                        <th><h5><strong><u>Notes:</strong></u></h5></th>
                        <td><h5><%= inventory[i].notes %></h5></td>
                    </tr>
                    <tr>
                        <th><h5><strong><u>Due Date:</strong></u></h5></th>
                        <td><h5><%= inventory[i].dueDateFormatted %></h5></td>
                    </tr>
                <% } %> 
            </table>
        </div>
        
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/scripts/materializeAutoInit.js"></script>

</tbody>
</html>